<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden 
"
data-header-color="white">

    <div class="z-30 relative h-full flex flex-col ">
        <header>
        <h2 class="text-white pt-40 text-5xl font-medium">Vive la experiencia Tesla</h2>
    
     <p class="text-white text-base">Agenda una prueba de manejo</p>
    </header>
    
    <footer class=" flex flex-col flex-grow  justify-end pb-20">
        <div>
    <a class=" bg-blue-600  text-black py-2 px-12 inline-block hover:text-white transition-colors "  href="#">prueba de manejo aqui
    
    </a>
    </div>
    
    </footer>
    
    </div>
    
    
    
     <div class="absolute top-0 bottom-0 left-0 right-0 z-0">
    <video class="w-auto h-auto" autoplay muted loop src="video.webm">
    
    </video>
    
    </div>
    </section>
    
    