<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden "
data-header-color="withe">

    <div class="z-30 relativ w-screen h-full flex flex-col ">
        <header>
            <section class="text-center py-20 bg-blue-600 text-white h-screen w-screen flex flex-col justify-center items-center">
                <h2 class="text-5xl font-bold">Protección y Seguridad para tu Futuro</h2>
                <p class="mt-4 text-lg">Nuestros seguros te brindan la tranquilidad que necesitas.</p>
                <a href="#contacto" class="mt-6 inline-block bg-white text-blue-600 px-8 py-3 rounded-lg font-semibold shadow-md hover:bg-gray-200">Solicitar Cotización</a>
            
            
            </section>
    
    
    
    </header>
    
   
        
    </section>